/* -- :: Section :: -- */
section {
  min-height: 100vh;
  position: relative;
  background: url(https://images.pexels.com/photos/787478/pexels-photo-787478.jpeg?cs=srgb&dl=blur-car-communication-787478.jpg&fm=jpg) center no-repeat;
  background-size: cover;
}
section::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 1;
}
section form {
  position: relative;
  z-index: 2;
}
/* Title */
section form .title {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* Group */
section .group {
  max-width: 360px;
  margin: 0 auto;
  position: relative;
}
section .group i {
  position: absolute;
  left: 0;
  top: 19px;
  color: var(--thYellow);
  font-size: 18px;
  width: 50px;
}
section .group input:not([type="submit"]) {
  width: 100%;
  background: rgba(0,0,0,.6);
  padding: 10px 15px 10px 50px;
  border: 1px solid rgba(0,0,0,.8);
  height: 52px;
  font-size: 17px;
  margin-bottom: 15px;
  border-radius: 4px;
  color: #fff;
  transition: border-color .2s ease;
}
section .group input:not([type="submit"]):focus {
  border-color: var(--thYellow);
  outline: none;
}
section input[type="submit"] {}
section input[type="submit"]:focus {}
