/* -- :: Header :: -- */
header {
  position: relative;
  background: url(./../../images/pages/bg-03.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 276px 0 200px;
}
header::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--thBlue);
  opacity: .8;
  z-index: 2;
}
header .container {
  position: relative;
  z-index: 4;
}
/* Text Contain */
header .t-c {
  max-width: 800px;
}
header .t-c h1 {
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 56px;
  line-height: 1.4
}
header .t-c hr {
  border-color: var(--thYellow);
  margin: 40px 0;
  border-width: 3px;
  width: 260px;
}
header .t-c form input,
header .t-c form select {
  padding: 12px 20px;
  border: 0;
  color: var(--thBlue);
  max-width: 240px;
  border-radius: 0;
  z-index: 3;
  transition: all .2s ease-in-out;
}
header .t-c form input[type='search'] {
  border-right: 1px solid var(--thBorder);
  border-radius: 4px 0 0 4px;
}
header .t-c form input[type='search']::placeholder {
  font-size: 16px;
  color: gray;
}
header .t-c form input:focus,
header .t-c form select:focus {
  outline: none;
}
header .t-c form input[type='submit'] {
  padding: 12px 20px;
  min-width: 160px;
  border: 0;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  background: var(--thYellow);
  color: var(--thBlue);
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}
header .t-c form input[type='submit']:hover {
  background: var(--thDarkYellow);
}
/* Scroll Down */
header .scroll-down {
  position: absolute;
  z-index: 4;
  right: 22%;
  bottom: 0
}
header .scroll-down img {
  position: relative;
  top: -20px
}
header .scroll-down .line {
  width: 3px;
  height: 80px;
  background: #fff;
}
/* --------------------------------- */

/* -- :: Section 3 :: -- */
section.section-3 .item {
  border: 1px solid var(--thBorder);
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
}
section.section-3 .item-head {
  position: relative;
}
section.section-3 .item-head::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0), rgba(0,0,0,0.6));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0), rgba(0,0,0,0.6));
  z-index: 1;
}
section.section-3 .item-head .sta {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #fff;
  background: var(--thGreen);
  padding: 4px 20px;
  border-radius: 50px;
  z-index: 2;
  text-transform: capitalize;
  font-size: 17px;
}
section.section-3 .item.hot .sta {
  background: var(--thRed);
}
section.section-3 .item-head .name {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #fff;
  font-size: 20px;
  z-index: 2;
  text-transform: capitalize;
}
section.section-3 .item-head .fav-btn {
  position: absolute;
  z-index: 3;
  bottom: -24px;
  right: 20px;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid var(--thBorder);
  color: var(--thBorder);
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
  font-size: 18px;
  transition: color .2s ease-in-out;
}
section.section-3 .item-head .fav-btn.clicked {
  color: var(--thRed);
}
section.section-3 .des {
  padding: 20px;
}
section.section-3 .des .name {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  min-height: 54px;
  margin-top: 10px;
  transition: color .2s ease-in-out;
}
section.section-3 .des .name:hover {
  color: var(--thBlue);
}
/* author */
section.section-3 .des .author a {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 14px;
  text-transform: capitalize;
  font-size: 16px;
  color: var(--thBlue);
}
/* rating */
section.section-3 .des .rating li:not(:last-child) {
  margin-right: 2px;
}
section.section-3 .des .rating i {
  color: var(--thYellow);
  font-size: 18px;
}
section.section-3 .des .rating span {
  margin-left: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #333
}
section.section-3 .des .rating small {
  font-size: 16px;
  color: #686f7a;
}
/* price */
section.section-3 .des .price {
  min-height: 36px;
  margin-top: 10px;
}
section.section-3 .des .price > div:not(:last-child) {
  margin-right: 10px;
}
section.section-3 .des .price .current {
  font-size: 22px;
  font-weight: bold;
  color: var(--thBlue);
  font-family: 'Poppins', sans-serif !important;
}
section.section-3 .des .price .old {
  font-size: 16px;
  color: #686f7a;
  text-decoration: line-through;
  margin-bottom: -4px;
  font-family: 'Poppins', sans-serif !important;
}
/* --------------------------------- */

/* -- :: Video Section :: -- */
.video-section {
  position: relative;
  overflow: hidden;
  background: url(./../../images/pages/bg-02.jpg) center no-repeat;
  background-size: cover;
}
.video-section::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--thBlue);
  opacity: .6;
}
/* box */
.video-section .box {
  position: absolute;
  top: 0;
  transform: rotate(80deg);
  left: 20%;
}
.video-section .wave {
  position: absolute;
  opacity: .4;
  width: 1200px;
  height: 1000px;
  border-radius: 43%;
}
.video-section .wave.one {
  animation: rotate 7000ms infinite linear;
  opacity: .1;
  background: #000022;
}
.video-section .wave.two {
  animation: rotate 3000ms infinite linear;
  opacity: .1;
  background: #000022;
}
.video-section .wave.three {
  animation: rotate 7500ms infinite linear;
  background-color: #0000228e;
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
.video-section .section-head {
  z-index: 2;
}
.video-section h2 {
  font-size: 42px;
  color: #fff;
  line-height: 1.4
}
.video-section p {
  font-size: 20px;
  color: #fff;
}
/* image contain */
.video-section .img-c {
  position: relative;
}
.video-section .img-c img {
  border: 4px solid #fff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.5);
}
.video-section .img-c button {
  position: absolute;
  background: var(--thRed);
  color: #fff;
  font-size: 26px;
  border: 0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border-radius: 30% 70% 50% 50% / 30% 41% 59% 70%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: background .2s ease-in-out;
}
.video-section .img-c button:hover {
  background: var(--thDarkRed);
}
/* --------------------------------- */

/* -- :: Testimonials :: -- */
section.testimonials {
  overflow: hidden;
}
/* item */
section.testimonials .item {
  position: relative;
  padding: 130px 30px 30px;
  border: 1px solid var(--thBorder);
  border-radius: 4px;
  background: #fff;
  margin-top: 40px;
}
/* client information */
section.testimonials .item .client-info {
  position: absolute;
  top: -40px;
  width: 100%;
  left: 0;
  padding: 0 30px;
}
section.testimonials .item .client-info img {
  border-radius: 50%;
  border: 5px solid #fff;
  max-width: 90px;
  max-height: 90px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
}
section.testimonials .item .client-info .text {
  
}
section.testimonials .item .client-info .text h4 a {
  font-size: 18px;
  color: var(--thBlue);
}
section.testimonials .item .client-info .text p {
  font-size: 14px;
}
section.testimonials .item .client-info .text p a {
  color: var(--thYellow);
  transition: color .2s ease;
}
section.testimonials .item .client-info .text p a:hover {
  color: var(--thDarkYellow);
}
/* client comment */
section.testimonials .item p.client-comment {
  color: #686f7a;
}
section.testimonials .item p.client-comment::after,
section.testimonials .item p.client-comment::before {
  position: relative;
  content: '\f10e';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  color: #686f7a;
  margin-left: 10px;
}
section.testimonials .item p.client-comment::before {
  content: '\f10d';
  margin-right: 10px;
  margin-left: 0;
}
/* --------------------------------- */

/* -- :: Team :: -- */
section.team .item {
  position: relative;
  background: #fff;
  text-align: center;
  border: 1px solid var(--thBorder);
  border-radius: 4px;
  transition: all .2s linear;
  margin-bottom: 30px;
}
section.team .item::after {
  position: absolute;
  content: '';
  right: -1rem;
  bottom: -1rem;
  left: 1rem;
  top: 1rem;
  background: #f8fafb;
  border-radius: 4px;
  z-index: -1;
  transition: 0.3s ease;
}
section.team .item:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
section.team .item > img {
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 100px;
  max-height: 100px;
}
/* title */
section.team .item .title {
  margin-bottom: 20px;
}
section.team .item .title h4 {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--thBlue);
  margin-bottom: 0;
}
section.team .item .title p {
  font-size: 14px;
  font-weight: bold;
  color: #686f7a;
  text-transform: capitalize
}
/* job */
section.team .item .job {
  font-size: 14px;
  color: #686f7a;
  padding: 7px 20px;
  border: 1px solid var(--thBorder);
  display: inline-block;
  border-radius: 50px;
  margin: 0 auto 40px;
  text-transform: capitalize
}
/* info */
section.team .item .info {
  position: relative;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--thBorder);
}
section.team .item .info .details {
  display: none;
  text-align: left;
  padding: 20px 20px 40px;
  margin-top: -20px;
  background: #f8fafb;
  border-top: 1px solid var(--thBorder)
}
section.team .item .info .details > ul > li:not(:last-child) {
  margin-bottom: 20px;
}
section.team .item .info .details > ul > li .head {
  font-size: 16px;
  font-weight: bold;
  color: var(--thBlue);
  text-transform: capitalize;
  margin-bottom: 5px;
}
section.team .item .info .details > ul > li li:not(:first-child) {
  margin-left: -10px;
}
section.team .item .info .details > ul > li li img {
  height: 37px;
  width: 37px;
  border: 2px solid #fff;
  border-radius: 50%;
}
section.team .item .info .details > ul > li li.plus-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  min-width: 37px;
  color: #fff;
  font-size: 16px;
  background: var(--thBlue);
  border-radius: 50px;
  padding: 0 10px;
  line-height: 1.6;
}
section.team .item .info .details > ul > li p.des {
  font-size: 16px;
  color: #686f7a;
  text-transform: capitalize
}
section.team .item .info button {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  color: var(--thBlue);
  background: #fff;
  border-radius: 50%;
  border: 1px solid var(--thBorder);
  transition: background .2s ease-in-out;
}
section.team .item .info button:hover {
  background: #f8fafb
}
section.team .item .info button i {
  transition: transform .2s linear;
}
section.team .item .info button.clicked i {
  transform: rotate(180deg);
}
/* footer */
section.team .item .footer {
  padding: 10px;
  border-top: 1px solid var(--thBorder)
}
section.team .item .footer li:not(:last-child) {
  margin-right: 15px;
}
section.team .item .footer a {
  font-size: 20px;
  color: #686f7a;
  transition: color .2s ease-in-out;
}
section.team .item .footer a:hover {
  color: var(--thYellow)
}
/* --------------------------------- */

/* -- :: Events :: -- */
.events .item {
  border: 1px solid var(--thBorder);
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
}
.events .item-head {
  position: relative;
}
.events .item-head::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0), rgba(0,0,0,0.6));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0), rgba(0,0,0,0.6));
  z-index: 1;
}
.events .item-head .sta {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #fff;
  background: var(--thGreen);
  padding: 4px 20px;
  border-radius: 50px;
  z-index: 2;
  text-transform: capitalize;
}
.events .item.hot .sta {
  background: var(--thRed);
}
.events .item-head .date {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #fff;
  font-size: 20px;
  z-index: 2;
  text-transform: capitalize;
}
.events .item-head .fav-btn {
  position: absolute;
  z-index: 3;
  bottom: -24px;
  right: 20px;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid var(--thBorder);
  color: var(--thBorder);
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
  font-size: 18px;
  transition: color .2s ease-in-out;
}
.events .item-head .fav-btn.clicked {
  color: var(--thRed);
}
.events .des {
  padding: 20px;
  background: #fff;
}
.events .des .name {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: #333;
  max-width: 280px;
  margin-bottom: 10px;
  min-height: 54px;
  margin-top: 10px;
  transition: color .2s ease-in-out;
}
.events .des .name:hover {
  color: var(--thBlue);
}
/* --------------------------------- */

/* -- :: Section 8 :: -- */
.section-8 img {
  margin-bottom: 30px;
}
/* --------------------------------- */

/* -- :: Section 9 :: -- */
section.section-9 img {
  margin-bottom: 40px;
}
/* --------------------------------- */

/* -- :: Media Query :: -- */

@media (max-width: 1199.98px) {
  /* -- :: Header :: -- */
  header {
    padding: 156px 0 80px;
  }
  header .t-c h1 {
    font-size: 48px;
  }
  header .t-c form input,
  header .t-c form input::placeholder,
  header .t-c form select,
  header .select2-container .select2-selection--single {
    font-size: 14px !important
  }
  header .t-c form input[type='submit'] {
    min-width: 130px;
  }
  .select2-container--default .select2-results__option {
    font-size: 14px;
  }
  /* --------------------------------- */
  
  /* -- :: Section 3 :: -- */
  section.section-3 .item-head .sta {
    font-size: 14px;
  }
  section.section-3 .item-head .name {
    font-size: 17px
  }
  section.section-3 .item-head .fav-btn {
    width: 42px;
    height: 42px;
    font-size: 16px;
  }
  section.section-3 .des .name {
    font-size: 16px;
  }
  section.section-3 .des .author a {
    font-size: 14px;
  }
  section.section-3 .des .rating i {
    font-size: 16px;
  }
  section.section-3 .des .rating span {
    font-size: 16px;
  }
  section.section-3 .des .rating small {
    font-size: 14px;
  }
  section.section-3 .des .price .current {
    font-size: 20px;
  }
  section.section-3 .des .price .old {
    font-size: 14px;
  }
  section.section-3 .owl-carousel .owl-nav button.owl-next::after,
  section.section-3 .owl-carousel .owl-nav button.owl-prev::after {
    font-size: 25px
  }
  /* --------------------------------- */
  
  /* -- :: Video Section :: -- */
  .video-section h2 {
    font-size: 32px
  }
  .video-section p {
    font-size: 18px;
  }
  /* --------------------------------- */
  
  /* -- :: Team :: -- */
  section.team .item .title h4 {
    font-size: 17px;
  }
  section.team .item .title p {
    font-size: 13px;
  }
  section.team .item .info .details > ul > li:not(:last-child) {
    margin-bottom: 15px;
  }
  section.team .item .info .details > ul > li .head {
    font-size: 14px;
  }
  section.team .item .info .details > ul > li li img,
  section.team .item .info .details > ul > li li.plus-item {
    height: 32px;
    width: 32px;
    min-width: 32px;
    font-size: 14px;
  }
  section.team .item .footer a {
    font-size: 18px;
  }
  /* --------------------------------- */

  /* -- :: Events :: -- */
  section.events .item-head .sta {
    font-size: 14px;
  }
  section.events .item-head .date {
    font-size: 17px
  }
  section.events .item-head .fav-btn {
    width: 42px;
    height: 42px;
    font-size: 16px;
  }
  section.events .des .name {
    font-size: 16px;
  }
  section.events .owl-carousel .owl-nav button.owl-next::after,
  section.events .owl-carousel .owl-nav button.owl-prev::after {
    font-size: 25px
  }
  /* --------------------------------- */  
}
@media (max-width: 991.98px) {
  /* -- :: Header :: -- */
  header .t-c h1 {
    font-size: 38px;
  }  
  /* --------------------------------- */

  /* -- :: Video Section :: -- */
  .video-section .img-c {
    margin-top: 40px;
  }
  /* --------------------------------- */  
  /* -- :: Testimonials :: -- */
  section.testimonials img {
    max-height: 320px;
  }
}
@media (max-width: 767.98px) {
  /* -- :: Header :: -- */
  header {
    padding: 120px 0 60px;
  }
  header .t-c h1 {
    font-size: 34px;
  }
  header .t-c form {
    background: #fff;
    padding: 30px 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto
  }
  header .t-c form input,
  header .t-c form select {
    max-width: 100%;
    display: block;
    width: 100%;
    border: 1px solid var(--thBorder) !important
  }
  header .t-c form input[type="search"] {
    margin-bottom: 20px;
  }
  header .t-c form .select2-container {
    width: 100% !important;
    border: 1px solid var(--thBorder);
    margin-bottom: 20px;
    border-radius: 2px;
  }
  header .t-c form input[type="submit"] {
    width: fit-content;
    display: table;
    border-radius: 2px;
    border: 0 !important;
    margin: 0 auto
  }
  /* --------------------------------- */

  /* -- :: Video Section :: -- */
  section.video-section h2 {
    font-size: 24px;
  }
  section.video-section p {
    font-size: 16px;
  }
  /* --------------------------------- */

  /* -- :: Team :: -- */
  section.team .item {
    margin: 0 auto 30px;  
    text-align: left  
  }
  section.team .item > img {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 10px;
    border-radius: 0;
    vertical-align: top
  }  
  section.team .item .text {
    display: inline-block;
    margin-top: 30px;
  }  
  section.team .item .text .job {
    margin-bottom: 0;
    border-radius: 0
  }
  section.team .item .info {
    margin-bottom: 30px;
  }
  section.team .item .info .details {
    margin-top: 0;
  }
  section.team .item .info .details > ul > li li.plus-item {
    display: none;
  }  
}
